<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    @Styles.Render("~/Content/toastr.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/toastr.js")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @Styles.Render("~/Content/Site.css")
    @RenderSection("scripts", required: false)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js" data-main="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script>
        requirejs.config({
            baseUrl: '/Scripts',
            paths: {
                jquery: 'jquery-3.3.7',
                toastr: 'toastr',
                bootstrap: 'bootstrap'
            }
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">Icon-bar</span>
                </button>
                @Html.ActionLink("Online Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Products", "Products", "Products")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href='@Url.Action("ShoppingCart", "Shopping")'>
                            <span class="glyphicon glyphicon-shopping-cart"></span> Cart
                            @if (OnlineShop.Services.State.Shopping != null && OnlineShop.Services.State.Shopping.Any())
                            {
                                <span class="badge">@(OnlineShop.Services.State.Shopping.Count)</span>
                            }
                        </a>
                    </li>
                    @if (OnlineShop.Services.State.Customer == null)
                    {
                        <li>
                            <a href="@Url.Action("Login","Account")">
                                <span class="glyphicon glyphicon-log-in"></span>Login
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Settings","Account")">
                                <span class="glyphicon glyphicon-user"></span>Settings
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div>
            @RenderBody()
        </div>
        <div class="row">
            <div class="height-50"></div>
            <hr />
            <div class="height-50"></div>
        </div>
        
    </div>
    <div class="container-fluid footer">
        <div class="col-sm-4">
            <div><h3 style="color:yellow;">About</h3></div>
            <ul class="footer-info-list">
                <li><a>Company today</a></li>
                <li><a>Rules</a></li>
                <li><a>News</a></li>
                <li><a>Contacts</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <div><h3 style="color:yellow;">Contact us</h3></div>
            <ul class="footer-info-list">
                <li><a>Shops</a></li>
                <li><a>Contacts</a></li>
                <li><a>Our Distributors</a></li>
                <li><a>Our Partners</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <div><h3 class="footer-column-heading" style="color:yellow;">Services</h3></div>
            <ul class="footer-info-list">
                <li><a>Your profile</a></li>
                <li><a>Help</a></li>
                <li><a>NeDiscountss</a></li>
                <li><a>Shipment</a></li>
            </ul>
        </div>
    </div>

</body>
</html>
