@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model OnlineShop.ViewModels.ProductViewModel

<div id="productList">
    <div class="height-50"></div>
    @if (Model?.Products != null)
    {
        foreach (var product in Model.Products)
        {
            <div class="row card">
                <div class="col-sm-3">
                    <a href='@Url.Action("ProductInfo","Products",new { id = product.ID })'>
                        <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name">
                    </a>
                </div>
                <div class="col-sm-7">
                    <h4 class="card-title">@product.Name</h4>
                    <p class="card-text">@product.Description</p>
                </div>
                <div class="col-sm-2">
                    <div class="col-sm-12">
                        <h4><strong>Price: </strong> @product.Price.ToString("C")</h4>
                    </div>
                    <div class="col-sm-12">
                        <a class="btn btn-primary btn-lg add-to-cart" product-id="@product.ID">Add to Cart</a>
                    </div>
                </div>

            </div>
            <hr />
        }
    }
</div>

<script>
    requirejs(['jquery', 'toastr'], function ($, toastr) {
        var actions = {
            addToCart: function (target) {
                let item = {};
                item.ID = $(target).attr("product-id");
                $.ajax({
                    method: "post",
                    url: "/Shopping/AddItemToCart",
                    data: item,
                    success: function (response) {
                        console.log(response);
                        if (response.success) {
                            console.log("Success");
                            toastr.success("Item added to cart");
                        }
                        else {
                            console.log("No success");
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        }
        $(".add-to-cart").on("click", function () {
            actions.addToCart(this);
        });
    });
</script>