@model OnlineShop.Models.Product

@{
    ViewBag.Title = Model.Name;
}
<style>
    .status{
        background-color: orange;
        border-radius:7px;
        width:100px;
        height:30px;
        display:flex;
        justify-content:center;
        margin-bottom:20px;
    }
    .status span{
        color: black;
        font-weight:700;
        font-size:22px;
    }

    .description{
        margin:30px;
    }

    .price {
        color: orange;
        font-weight: 700;
        font-size: 24px;
        border-radius: 7px;
        border: dashed;
        display: flex;
        justify-content: center;
    }
</style>
<h2>@Model.Name</h2>

<div class="row">
    <hr />
    <div class="col-sm-6">
        <img src="@Model.ImageUrl" style="max-height:400px; max-width:100%" />
    </div>
    <div class="col-sm-6">
        <div class="status description">
            <span> In Stock </span>
        </div>
        <div class="description">
            <div style="margin-bottom:20px;">
                <a class="btn btn-success">Add to Cart</a>
            </div>
            <div>
                <input type="number" value="1" min="1" class="form-control" />
            </div>
        </div>
        <div class="description price">
            <span> @Model.Price.ToString("C")</span>
        </div>
        <div class="description">
            <p>@Model.Description</p>
        </div>
    </div>
</div>
<input type="hidden" id="item_name" value="@Model.Name" />
<input type="hidden" id="item_id" value="@Model.ID" />
<input type="hidden" id="item_price" value="@Model.Price" />

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#description">Description</a></li>
    <li><a data-toggle="tab" href="#feedbacks">Feedbacks</a></li>
</ul>

<div class="tab-content">
    <div id="description" class="tab-pane fade in active">
        <h3>Description</h3>
        <p>@Model.Description</p>
    </div>
    <div id="feedbacks" class="tab-pane fade">
        <h3>Leave a feedback</h3>
        <form class="form" id="feedback_form">
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <div class="form-group">
                <label for="feedback_author_name">Your Name</label>
                <input type="text" class="form-control" id="feedback_author_name" placeholder="Ivan Ivanovich"/>
            </div>
            <div class="form-group">
                <label for="feedback_author_email">Your Email</label>
                <input type="text" class="form-control" id="feedback_author_email" placeholder="test@example.com"/>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-primary" value="Leave a feedback" id="leave_feedback"/>
            </div>
        </form>
    </div>
</div>
<p>
    <a href="#" id="add_to_cart_link" model="@Model">Add to Cart</a> |
    <a href="@Url.Action("Products", "Products", new { category = Model.Category })">Back to List</a>
</p>

<script>
    requirejs(['jquery', 'toastr'], function ($, toastr) {
        var actions = {
            addToCart: function () {
                let item = {};
                item.Name = $("#item_name").val();
                item.ID = $("#item_id").val();
                item.Price = $("#item_price").val();
                $.ajax({
                    method: "post",
                    url: "/Shopping/AddItemToCart",
                    data: item,
                    success: function (response) {
                        console.log(response);
                        if (response.success) {
                            console.log("Success");
                            toastr.success("Item added to cart");
                        }
                        else {
                            console.log("No success");
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            },
            sendFeedback: function () {
                toastr.info("Your feedback sent","Thank you!");
                $("#feedback_form")[0].reset();
            }
        }

        $("#leave_feedback").on("click", actions.sendFeedback);
        $("#add_to_cart_link").on("click", actions.addToCart);
    });
</script>